<!DOCTYPE html>
<html lang="ko">
{% extends 'base.html' %}
{% load bootstrap4 %}
<head>
    <meta charset="UTF-8">
    <title>control-search</title>

{% block extrahead %}
{{ form.media }}
{% endblock %}

</head>

<body>
{% block content %}
    <p></p>
    <form method="get">
        {% bootstrap_form filter.form %}
        <div class="btn-toolbar float-left">
            <a href="{% url 'metergram:control_list' %}" class="btn btn-primary btn-sm">전체자료</a>
            <button type="submit" class="btn btn-info btn-sm">검색하기</button></div>
        <div class="btn-toolbar float-right">&nbsp;&nbsp;
            <a href="{% url 'metergram:control_search_pdf' %}" class="btn btn-success btn-sm">pdf출력</a></div>
    </form>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center" scope="col">사용장소</th>
                <th class="text-center" scope="col">기기번호</th>
                <th class="text-center" scope="col">온도(*C)</th>
                <th class="text-center" scope="col">습도(kPa)</th>
                <th class="text-center" scope="col">알림</th>
                <th class="text-center" scope="col">밸브상태</th>
                <th class="text-center" scope="col">밸브조작</th>
                <th class="text-center" scope="col">일시</th>
            </tr>
        </thead>

        <tbody>
            {% for post in filter.qs %}
                <tr>
                    <td align="center">{{post.location}}</td>
                    <td><a href="{% url 'metergram:meter_detail' pk=post.id %}">{{post.serial}}</a></td>
                    <td align="center">{{post.hometmp}}</td>
                    <td align="center">{{post.homehumid}}</td>
                    <td align="center">{{post.homealarm}}</td>
                    <td align="center">{{post.valvestatus}}</td>
                    <td align="center">{{post.valveaction}}</td>
                    <td align="center">{{post.created|date:"y-m-d H:i"}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

</body>
</html>