<!DOCTYPE html>
<html lang="ko">
{% extends 'base.html' %}
{% load bootstrap4 %}

<head>
    <meta charset="UTF-8">
    <title>safety-detail</title>
</head>

<body>
{% block content %}
    <p></p>
    <div class="btn-toolbar float-left">
        <a href="{% url 'metergram:meter_list' %}" class="btn btn-primary btn-sm">자료:계량기</a></div>
        <a href="{% url 'metergram:control_list' %}" class="btn btn-primary btn-sm">자료:차단기</a></div>
    <div class="btn-toobar float-right">
        <a href="{% url 'metergram:meter_delete' pk=object.id %}" class="btn btn-danger btn-sm">삭제하기</a></div>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">항목</th>
                <th scope="col">내역</th>
            </tr>
        </thead>

        <tbody>
            <tr><td>가입자명</td><td>{{object.author}}</td></tr>
            <tr><td>장치위치</td><td>{{object.location}}</td></tr>
            <tr><td>장치종류</td><td>{{object.subject}}</td></tr>
            <tr><td>장치번호</td><td>{{object.serial}}</td></tr>
            <tr><td>특기사항</td><td>{{object.remark}}</td></tr>
            <tr><td>해당일시</td><td>{{object.created|date:"Y-m-d H:i"}}</td></tr>
        </tbody>
    </table>

{% endblock %}



</body>
</html>