<!DOCTYPE html>
<html lang="ko">
{% extends 'base.html' %}
{% load bootstrap4 %}
{% load mathfilters %}

<head>
    <meta charset="UTF-8">
    <title>safety-list</title>
</head>

<body>
{% block content %}
    <p></p>
    <div class="btn-toolbar float-left">
        <a href="{% url 'metergram:meter_upload' %}" class="btn btn-danger btn-sm">장치추가</a>
        <a href="{% url 'metergram:meter_search' %}" class="btn btn-info btn-sm">측정검색</a>
        <a href="{% url 'metergram:control_list' %}" class="btn btn-primary btn-sm">조작자료</a></div>
    <div class="btn-toolbar float-right">
        <a href="{% url 'metergram:generate_pdf' %}" class="btn btn-success btn-sm">pdf출력</a></div>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center" scope="col">동:호</th>
                <th class="text-center" scope="col">장치번호</th>
                <th class="text-center" scope="col">가스계량(M3)</th>
                <th class="text-center" scope="col">가스보정(M3)</th>
                <th class="text-center" scope="col">전력계량(kW)</th>
                <th class="text-center" scope="col">수도계량(M3)</th>
                <th class="text-center" scope="col">온도(*C)</th>
                <th class="text-center" scope="col">습도(%)</th>
                <th class="text-center" scope="col">가스사용</th>
                <th class="text-center" scope="col">수도사용</th>
                <th class="text-center" scope="col">경보</th>
                <th class="text-center" scope="col">해당일시</th>
            </tr>
        </thead>

        <tbody>
            {% for post in files %}
                <tr>
                    <td align="center">{{post.location}}</td>
                    <td><a href="{% url 'metergram:meter_detail' pk=post.id %}">{{post.serial}}</a></td>
                    <td align="center">{{post.mtr|div:100}}</td>
                    <td align="center">{{post.cor|div:100}}</td>
                    <td align="center">{{post.elec|div:100}}</td>
                    <td align="center">{{post.water|div:100}}</td>
                    <td align="center">{{post.temp|div:10}}</td>
                    {% if post.humidity > 8000 or post.ph < 200 %}
                    <td align="center" style="color:red">{{post.humidity|div:10}}</td>
                    {% else %}
                    <td align="center" style="color:blue">{{post.humidity}}</td>
                    {% endif %}
                    <td align="center">{{post.usegas}}</td>
                    <td align="center">{{post.usewater}}</td>
                    <td align="center">{{post.alarm}}</td>
                    <td align="center">{{post.date|date:"y-m-d H:i"}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagination %}
{% if files.has_other_pages %}
<div class="text-center">
    <ul class="pagination justify-content-center pagination-sm">

        {% if files.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ files.previous_page_number }}">&laquo; 이전 </a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&laquo; 이전 </a></li>
        {% endif %}

    {% for i in files.paginator.page_range %}
        {% if files.number == i %}
            <li class="page-item active"><span class="page-link">&nbsp;{{ i }}&nbsp;<span class="page-link sr-only">(current)</span></span></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">&nbsp;{{ i }}&nbsp;</a></li>
        {% endif %}
    {% endfor %}

        {% if files.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ files.next_page_number }}"> 다음 &raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">다음 &raquo;</a></li>
        {% endif %}

    </ul>
</div>
{% endif %}
{% endblock %}
</body>
</html>