<!DOCTYPE html>
<html lang="en">
{% extends 'base_mobile.html' %}
<head>
    <meta charset="UTF-8">
    <title>meter_detail_mobile</title>
</head>

<body>
{% block content %}
    <p></p>
    <div class="btn-toolbar float-left">
        <a href="{% url 'metergram:meter_list_mobile' %}" class="btn btn-info btn-sm">전체자료</a></div>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">항목</th>
                <th scope="col">내역</th>
            </tr>
        </thead>

        <tbody>
        {% for post in form %}
            <tr><td>작성자</td><td>{{post.author}}</td></tr>
            <tr><td>아파트명</td><td>{{post.group}}</td></tr>
            <tr><td>동</td><td>{{post.dong}}</td></tr>
            <tr><td>호</td><td>{{post.ho}}</td></tr>
            <tr><td>가스미터검침</td><td>{{post.mtr}}</td></tr>
            <tr><td>가스보정검침</td><td>{{post.cor}}</td></tr>
            <tr><td>전기검침</td><td>{{post.elec}}</td></tr>
            <tr><td>수도검침</td><td>{{post.water}}</td></tr>
            <tr><td>검침일자</td><td>{{post.created|date:"Y-m-d"}}</td></tr>
            <tr><td>조치상황</td><td>{{post.action}}</td></tr>
            <tr><td>검침담당</td><td>{{post.charge}}</td></tr>
            <tr><td>관리담당</td><td>{{post.manager}}</td></tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
</body>
</html>