<!DOCTYPE html>
<html lang="ko">
{% load mathfilters %}

<head>
    <meta charset="UTF-8">
    <title>pdf-search</title>
</head>

<body>
    <h1>Safetygram Publishing</h1>
    <h3>전체자료<span class="secondary">{{ created | date:"Y-m-d H:i" }}</span></h3>

    <table class="container_big">
        <thead>
            <tr>
                <th>사용장소</th>
                <th>장치번호</th>
                <th>계량사용량(M3)</th>
                <th>보정사용량(M3)</th>
                <th>누적계량값(M3)</th>
                <th>누적보정값(M3)</th>
                <th>가스온도(*C)</th>
                <th>가스압력(kPa)</th>
                <th>가스알림</th>
                <th>해당일시</th>
            </tr>
        </thead>

        <tbody>
        {% for post in filter %}
            <tr>
                <td align="center">{{post.location}}</td>
                <td><a href="{% url 'metergram:meter_detail' pk=post.id %}">{{post.serial}}</a></td>
                <td align="center">{{post.monmtr|div:100}}</td>
                <td align="center">{{post.moncor|div:100}}</td>
                <td align="center">{{post.accmtr|div:100}}</td>
                <td align="center">{{post.acccor|div:100}}</td>
                {% if post.gastmp > 500 or post.gastmp < 0 %}
                <td align="center" style="color:red">{{post.gastmp|div:10}}</td>
                {% else %}
                <td align="center" style="color:blue">{{post.gastmp|div:10}}</td>
                {% endif %}
                <td align="center">{{post.gasprs|div:10}}</td>
                <td align="center">{{post.gasalarm}}</td>
                <td align="center">{{post.created|date:"y-m-d H:i"}}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</body>
</html>