<!DOCTYPE html>
<html lang="ko">
{% extends 'base_mobile.html' %}
{% load bootstrap4 %}

<head>
    <meta charset="UTF-8">
    <title>valve_close</title>

{% block extrahead %}
{{ form.media }}
{% endblock %}

</head>

<body>
{% block content %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 panel panel-default">
                <div class="text-center">
                <form action="" method="post" enctype="multipart/form-data" >
                    <p></p>
                    {% bootstrap_form form %}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger btn-lg" value="가스밸브 차단명령">
                    <a href="{% url 'metergram:control_list' %}" class="btn btn-primary btn-lg">스마트차단기 기록</a>
                    <p></p>
                </form>




{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


                </div>
            </div>
            <div class="col-md-2"></div>
        </div>









{% endblock %}




</body>
</html>