<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>pdf-detail</title>
</head>
<body>
    <h1>Aptgram Publishing</h1>
    <h3>상세 - 민원목록<span class="secondary">{{ myDate | date:"Y-m-d" }}</span></h3>

    {% for post in files %}

    <table class="container_big">
        <thead>
            <tr>
                <th scope="col">항목</th>
                <th scope="col">내역</th>
            </tr>
        </thead>

        <tbody>
            <tr><td>작성자</td><td>{{post.author.username}}</td></tr>
            <tr><td>아파트명</td><td>{{post.group}}</td></tr>
            <tr><td>신청인정보</td><td>{{post.contact}}</td></tr>
            <tr><td>민원일자</td><td>{{post.created|date:"Y-m-d"}}</td></tr>
            <tr><td>민원제목</td><td>{{post.subject}}</td></tr>
            <tr><td>민원내용</td><td>{{post.task_1}}</td></tr>
            <tr>
                <td><a href="{{post.photo_1.url}}">민원사진</a></td>
                <td><img src="{{post.photo_1.url}}" class="container"></td>
            </tr>
            <tr><td>담당부서</td><td>{{post.department}}</td></tr>
            <tr><td>담당자</td><td>{{post.charge}}</td></tr>
            <tr><td>처리일자</td><td>{{post.date|date:"Y-m-d"}}</td></tr>
            <tr><td>완료일자</td><td>{{post.close|date:"Y-m-d"}}</td></tr>
            <tr><td>처리결과</td><td>{{post.task_2}}</td></tr>
            <tr>
                <td><a href="{{post.photo_2.url}}">처리사진</a></td>
                <td><img src="{{post.photo_2.url}}" class="container"></td>
            </tr>
        </tbody>
    </table>
    <p></p><p></p>

    {% endfor %}

</body>
</html>