<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>pdf-detail</title>
</head>
<body>
    <h1>Aptgram Publishing</h1>
    <h3>상세 - 서식목록<span class="secondary">{{ myDate | date:"M d, Y" }}</span></h3>

    {% for post in files %}

    <table class="container_big">
        <thead>
            <tr>
                <th scope="col">항목</th>
                <th scope="col">내역</th>
            </tr>
        </thead>

        <tbody>
            <tr><td>작성자</td><td>{{post.author}}</td></tr>
            <tr><td>공급자</td><td>{{post.group}}</td></tr>
            <tr><td>서식제목</td><td>{{post.subject}}</td></tr>
            <tr><td>서식설명</td><td>{{post.description}}</td></tr>
            <tr><td>최초등록</td><td>{{post.created|date:"M d, Y"}}</td></tr>
            <tr><td>수정등록</td><td>{{post.updated|date:"M d, Y"}}</td></tr>
            <tr>
                <td><a href="{{post.paper.url}}">서식식다운로드</a></td>
                <td><a href="{{post.paper.url}}">{{post.file}}</a></td>
            </tr>
        </tbody>
    </table>
    <p></p><p></p>

    {% endfor %}


</body>
</html>