<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>pdf-list</title>
</head>
<body>
    <h1>Aptgram Publishing</h1>
    <h3>서식목록<span clas="secondary">{{ myDate | date:"M d, Y" }}</span></h3>

    <table class="container_big">
        <thead>
            <tr>
                <th scope="col">서식제목</th>
                <th scope="col">서식설명</th>
                <th scope="col">최초등록</th>
                <th scope="col">수정등록</th>
            </tr>
        </thead>

        <tbody>
        {% for post in files %}
            <tr>
                td>{{post.subject}}</td>
                <td>{{post.description}}</td>
                <td>{{post.created|date:"M d, Y"}}</td>
                <td>{{post.updated|date:"M d, Y"}}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</body>
</html>