<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>pdf-detail</title>
</head>
<body>
    <h1>Aptgram Publishing</h1>
    <h3>상세 - 일지목록<span class="secondary">{{ myDate | date:"Y-m-d" }}</span></h3>

    {% for post in files %}

    <table class="container_big">
        <thead>
            <tr>
                <th scope="col">항목</th>
                <th scope="col">내역</th>
            </tr>
        </thead>

        <tbody>
            <tr><td>작성자</td><td>{{post.author.username}}</td></tr>
            <tr><td>아파트명</td><td>{{post.group}}</td></tr>
            <tr><td>소속부서</td><td>{{post.department}}</td></tr>
            <tr><td>담당자</td><td>{{post.charge}}</td></tr>
            <tr><td>작성일자</td><td>{{post.created|date:"Y-m-d"}}</td></tr>
            <tr><td>담당업무</td><td>{{post.subject}}</td></tr>
            <tr><td>업무내역</td><td>{{post.task}}</td></tr>
            <tr>
                <td><a href="{{post.photo.url}}">참고사진</a></td>
                <td><img src="{{post.photo.url}}" class="container"></td>
            </tr>
            <tr><td>관리자</td><td>{{post.manager}}</td></tr>
            <tr><td>관리소장</td><td>{{post.director}}</td></tr>
            <tr><td>지시사항</td><td>{{post.response}}</td></tr>
        </tbody>
    </table>
    <p></p><p></p>

    {% endfor %}

</body>
</html>