<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>pdf-search</title>
</head>
<body>
    <h1>Aptgram Publishing</h1>
    <h3>일지목록<span class="secondary">{{ myDate | date:"Y-m-d" }}</span></h3>

    <table class="container_big">
        <thead>
            <tr>
                <th>소속</th>
                <th>담당/th>
                <th>작성일자</th>
                <th>제목</th>
                <th>관리</th>
                <th>일자</th>
            </tr>
        </thead>

        <tbody>
        {% for post in filter %}
            <tr>
                <td>{{post.department}}</td>
                <td>{{post.charge}}</td>
                <td>{{post.created|date:"Y-m-d"}}</td>
                <td>{{post.subject}}
                <td>{{post.manager}}</td>
                <td>{{post.updated|date:"Y-m-d"}}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</body>
</html>