<!DOCTYPE html>
<html lang="en">
{% extends 'base_mobile.html' %}
{% load bootstrap3 %}

<head>
    <meta charset="UTF-8">
    <title>task-upload</title>

{% block extrahead %}
{{ form.media }}
{% endblock %}

</head>
<body>
{% block content %}
    <p></p>
    <div class="btn-group float-left">
        <a href="{% url 'taskgram:task_list_author' %}" class="btn btn-success btn-sm">일지확인</a></div>&nbsp;&nbsp;
    <p></p>
    <br>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
            <form action="" method="post" enctype="multipart/form-data">
                {% bootstrap_form form %}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="작성완료">
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}
</body>
</html>