<!DOCTYPE html>
<html lang="en">
{% extends 'base_mobile.html' %}
<head>
    <meta charset="UTF-8">
    <title>task-detail_mobile</title>
</head>

<body>
{% block content %}
    <p></p>
    <div class="btn-group float-left">
        <a href="{% url 'taskgram:task_list_mobile' %}" class="btn btn-info btn-sm">전체자료</a></div>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">항목</th>
                <th scope="col">내역</th>
            </tr>
        </thead>

        <tbody>
        {% for post in form %}
            <tr><td>작성자</td><td>{{post.author.username}}</td></tr>
            <tr><td>아파트명</td><td>{{post.group}}</td></tr>
            <tr><td>소속부서</td><td>{{post.department}}</td></tr>
            <tr><td>담당자</td><td>{{post.charge}}</td></tr>
            <tr><td>작성일자</td><td>{{post.created|date:"Y-m-d"}}</td></tr>
            <tr><td>제목</td><td>{{post.subject}}</td></tr>
            <tr><td>업무내용</td><td>{{post.task}}</td></tr>
            <tr>
                <td><a href="{{post.photo.url}}">참고사진</a></td>
                <td><a href="{{post.photo.url}}"><img src="{{post.photo.url}}" width="300" height="300"></a></td>
            </tr>
            <tr><td>관리자</td><td>{{post.manager}}</td></tr>
            <tr><td>관리소장</td><td>{{post.director}}</td></tr>
            <tr><td>지시사항</td><td>{{post.response}}</td></tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
</body>
</html>