<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load bootstrap4 %}
<head>
    <meta charset="UTF-8">
    <title>task-search</title>
</head>

<body>
{% block content %}
    <p></p>
    <form method="get">
        {% bootstrap_form filter.form %}
        <div class="btn-toolbar float-left">
            <a href="{% url 'taskgram:task_list' %}" class="btn btn-primary btn-sm">전체자료</a>
            <button type="submit" class="btn btn-info btn-sm">검색하기</button></div>
        <div class="btn-toolbar float-right">
            <a href="{% url 'taskgram:search_pdf' %}" class="btn btn-success btn-sm">pdf 출력</a></div>
    </form>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">회원ID</th>
                <th scope="col">소속부서</th>
                <th scope="col">담당자</th>
                <th scope="col">작성일자</th>
                <th scope="col">제목</th>
                <th scope="col">관리자</th>
                <th scope="col">결재일자</th>
            </tr>
        </thead>

        <tbody>
            {% for post in filter.qs %}
                <tr>
                    <td>{{post.author}}</td>
                    <td>{{post.department}}</td>
                    <td>{{post.charge}}</td>
                    <td><a href="{% url 'taskgram:task_detail' pk=post.id %}">{{post.created|date:"Y-m-d"}}</a></td>
                    <td><a href="{% url 'taskgram:task_detail' pk=post.id %}">{{post.subject}}</a></td>
                    <td>{{post.manager}}</td>
                    <td>{{post.updated|date:"Y-m-d"}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
</body>
</html>