<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>pdf-search</title>
</head>
<body>
    <h1>Aptgram Publishing</h1>
    <h3>설비목록<span class="secondary">{{ myDate | date:"Y-m-d" }}</span></h3>

    <table class="container_big">
        <thead>
            <tr>
                <th>담당</th>
                <th>설비번호</th>
                <th>설비명칭</th>
                <th>설비위치</th>
                <th>관리내용</th>
                <th>관리주기</th>
                <th>시작일자</th>
                <th>완료일자</th>
            </tr>
        </thead>

        <tbody>
        {% for post in filter %}
            <tr>
                <td>{{post.department}}</td>
                <td>{{post.code}}</td>
                <td>{{post.subject}}</td>
                <td>{{post.location}}</td>
                <td>{{post.action}}</td>
                <td>{{post.cycle}}</td>
                <td>{{post.start|date:"Y-m-d"}}</td>
                <td>{{post.close|date:"Y-m-d"}}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</body>
</html>