<!DOCTYPE html>
<html lang="ko">
{% extends 'base.html' %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>sulbi-upload</title>
</head>
<body>
{% block content %}

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 panel panel-default">
                <form action="" method="post" enctype="multipart/form-data">
                    {{form|crispy}}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="작성완료">
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>

{% endblock %}
</body>
</html>