<!DOCTYPE html>
<html lang="ko">
{% extends 'base.html' %}
{% load bootstrap3 %}
<head>
    <meta charset="UTF-8">
    <title>sulbi-search</title>
</head>

<body>
{% block content %}
    <p></p>
    <form method="get">
        {% bootstrap_form filter.form %}
        <div class="btn-group float-right">&nbsp;&nbsp;
        <a href="{% url 'sulbigram:search_pdf' %}" class="btn btn-success btn-sm">pdf 출력</a></div>
        <div class="btn-group float-left">
        <a href="{% url 'sulbigram:sulbi_list' %}" class="btn btn-info btn-sm">전체목록</a></div>
        <button type="submit" class="btn btn-info btn-sm float-right">검색하기</button>
    </form>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">아파트명</th>
                <th scope="col">담당부서</th>
                <th scope="col">설비번호</th>
                <th scope="col">설비명칭</th>
                <th scope="col">관리내용</th>
                <th scope="col">시작일자</th>
                <th scope="col">완료일자</th>
            </tr>
        </thead>

        <tbody>
            {% for post in filter.qs %}
                <tr>
                    <td>{{post.group}}</td>
                    <td>{{post.department}}</td>
                    <td>{{post.code}}</td>
                    <td><a href="{% url 'sulbigram:sulbi_detail' pk=post.id %}">{{post.subject}}</a></td>
                    <td>{{post.action}}</td>
                    <td>{{post.start|date:"Y-m-d"}}</td>
                    <td>{{post.close|date:"Y-m-d"}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
</body>
</html>