<!DOCTYPE html>
<html lang="ko">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>shrimp-detail</title>
</head>
<body>
{% block content %}
    <p></p>
    <div class="btn-group float-left">
        <a href="{% url 'shrimpgram:shrimp_list' %}" class="btn btn-primary btn-sm">측정자료</a></div>
    <div class="btn-group float-right">
        <a href="{% url 'shrimpgram:control_update' pk=object.id %}" class="btn btn-danger btn-sm">기록수정</a>&nbsp;&nbsp;
        <a href="{% url 'shrimpgram:shrimp_delete' pk=object.id %}" class="btn btn-danger btn-sm">기록삭제</a>&nbsp;&nbsp;</div>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">항목</th>
                <th scope="col">내역</th>
            </tr>
        </thead>

        <tbody>
            <tr><td>업체명</td><td>{{object.author}}</td></tr>
            <tr><td>호지:구역</td><td>{{object.location}}</td></tr>
            <tr><td>장치종류</td><td>{{object.subject}}</td></tr>
            <tr><td>장치번호</td><td>{{object.serial}}</td></tr>
            <tr><td>특기사항</td><td>{{object.remark}}</td></tr>
            <tr><td>기록일시</td><td>{{object.created|date:"Y-m-d H:i"}}</td></tr>
        </tbody>
    </table>

{% endblock %}
</body>
</html>