<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>name-list</title>
</head>

<body>
{% block content %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">일자</th>
                <th scope="col">pH</th>
                <th scope="col">DO</th>
            </tr>
        </thead>

        <tbody>
        {% for post in files %}
            <tr>
                <td>{{post.date}}</td>
                <td>{{post.close}}</td>
                <td>{{post.open}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

</body>
</html>