@font-face
{
    font-family: "Arial Unicode MS", "Helvetica", "sans-serif";
    src: url('/static/arial-unicode-ms.tiff') format('truetype'),
}

body    {
    font-family: "Arial Unicode MS", "Helvetica", "sans-serif";
    color:#222;
    line-height:1.1;
}

table   {
    font-size:11px;
    width:100%
    border-spacing:0;
    border-collapse: collapse;
    margin:10px 0;
}

table th, table td  {
    text-align:left
    font-size:11px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    font-size:11px;
    background:#efefef;
}

tbody th, tbody tr.discount {
    font-size:11px;
    background:#46a500;
    color:#fff;
    font-weight:bold;
}

thead th, tbody tr.total    {
    font-size:11px;
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

h1  {
    margin:0;
}

.secondary  {
    color:#bbb;
    margin-bottom:20px;
}

.num    {
    text-align:right;
}

.container {
  width: 300px;
  height: 300px;
}

.container_big {
  width: 630px;
}
