<!doctype html>
<html lang="ko">
{% extends 'base.html' %}
{% load bootstrap3 %}

<head>
    <meta charset="UTF-8">
    <title> Event </title>

{% block title %} 일정관리 {% endblock %}

{% block extrahead %}
{{ form.media }}
{% endblock %}
</head>

<body>
{% block content %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">{{ field.label }}<strong>{{ error|escape }}</strong></div>
            {% endfor %}
        {% endfor %}

        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">{{ field.label }}<strong>{{ error|escape }}</strong></div>
        {% endfor %}
    {% endif %}


    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
            <p></p>
            <div class="clearfix">
                <a class="btn btn-primary left" href="{% url 'timegram:schedule' %}"> 일정보기 </a>
                <a class="btn btn-primary left" href="{% url 'index:index' %}"> 초기화면 </a>
            </div>
            <p></p><br>





    <table class="table">
        <thead>
            <tr>
                <th scope="col">아파트명</th>
                <th scope="col">소속부서</th>
                <th scope="col">담당자</th>
                <th scope="col">작성일자</th>
                <th scope="col">담당업무</th>
                <th scope="col">관리자</th>
                <th scope="col">상세보기</th>
            </tr>
        </thead>

        <tbody>
            {% for post in form %}
                <tr>
                    <td>{{post.group}}</td>
                    <td>{{post.subject}}</td>
                    <td>{{post.description}}</td>
                    <td>{{post.created|date:"Y-m-d"}}</td>
                    <td>{{post.remark}}
                    <td>{{post.author}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>










            {% if "관리" in user.last_name %}
            <form action="" method="post" enctype="multipart/form-data">
                {% bootstrap_form form %}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="편집완료">
            </form>
            {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">항목</th>
                        <th scope="col">내역</th>
                    </tr>
                </thead>

                <tbody>
                    <tr><td>작성자</td><td>{{object.author}}</td></tr>
                    <tr><td>아파트명</td><td>{{object.group}}</td></tr>
                    <tr><td>업무</td><td>{{object.subject}}</td></tr>
                    <tr><td>상세내용</td><td>{{object.description}}</td></tr>
                    <tr><td>공고일자</td><td>{{object.remark}}</td></tr>
                    <tr><td>시작일자</td><td>{{object.created|date:"Y-m-d"}}</td></tr>
                    <tr><td>종료일자</td><td>{{object.updated|date:"Y-m-d"}}</td></tr>
                </tbody>
            </table>
            {% endif %}




















            <p></p>
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}

</body>
</html>