<!DOCTYPE html>
<html lang="en">
{% extends 'base_mobile.html' %}
<head>
    <meta charset="UTF-8">
    <title>news-read_detail</title>
</head>

<body>
{% block content %}
    <p></p>
    <div class="btn-group float-left">
        <a href="{% url 'newsgram:news_list_jumin' %}" class="btn btn-info btn-sm">공고목록</a>&nbsp;&nbsp;
    </div>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">항목</th>
                <th scope="col">내역</th>
            </tr>
        </thead>

        <tbody>

            <tr><td>아파트명</td><td>{{form.group}}</td></tr>
            <tr><td>동</td><td>{{form.dong}}</td></tr>
            <tr><td>호</td><td>{{form.ho}}</td></tr>
            <tr><td>공고일자</td><td>{{form.date|date:"Y-m-d"}}</td></tr>
            <tr><td>공고제목</td><td>{{form.subject}}</td></tr>
            <tr><td>공고내용</td><td>{{form.text}}</td></tr>
            <tr><td>작성일</td><td>{{form.created|date:"Y-m-d"}}</td></tr>
            <tr><td>결재일</td><td>{{form.updated|date:"Y-m-d"}}</td></tr>
            <tr>
                <td><a href="{{form.file.url}}">공고문서</a></td>
                <td><a href="{{form.file.url}}">{{form.file}}</a></td>
            </tr>
            <tr>
                <td><a href="{{form.photo.url}}">첨부사진</a></td>
                <td><a href="{{form.photo.url}}">{{form.photo}}</a></td>
            </tr>

        </tbody>
    </table>

{% endblock %}
</body>
</html>