<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>accounts-list</title>
</head>
<body>
{% block content %}
    <p></p>
    <div class="btn-group float-right">
        <a href="{% url 'accounts:generate_pdf' %}" class="btn btn-success btn-sm">pdf 출력</a>&nbsp;&nbsp;
    </div>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">아파트이름</th>
                <th scope="col">사용자 ID</th>
                <th scope="col">부서:직위:직급</th>
                <th scope="col">이름</th>
                <th scope="col">이메일</th>
                <th scope="col">상세보기</th>
            </tr>
        </thead>

        <tbody>
        {% if "1급" in user.last_name %}
        {% for post in files %}
            <tr>
                <td>{{post.groups.all.0.name}}</td>
                <td>{{post.username}}</td>
                <td>{{post.last_name}}</td>
                <td>{{post.first_name}}</td>
                <td>{{post.email}}</td>
                <td><a href="{% url 'accounts:account_update' pk=post.id %}" class="btn btn-outline-success btn-sm">사용자관리</a></td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}


</body>
</html>