<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Login{% endblock %}</title>
</head>

<body>
{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-8 panel panel-default">
                <p></p><p></p><p></p>
                <div class="alert alert-info">먼저, 로그인 하세요.</div>
                <form action="" method="post">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <input class="btn btn-primary" href="/" type="submit" value="로그인">
                </form>
                <p></p><p></p><p></p>
            </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
</body>
</html>