<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>pdf-detail</title>
</head>
<body>

    <h1>Aptgram Publishing</h1>
    <h3>상세 - 비품목록<span class="secondary">{{ myDate | date:"M d, Y" }}</span></h3>

    {% for post in files %}

    <table class="container_big">
        <thead>
            <tr>
                <th scope="col">항목</th>
                <th scope="col">내역</th>
            </tr>
        </thead>

        <tbody>
            <tr><td>아파트명</td><td>{{post.group}}</td></tr>
            <tr><td>비품명칭</td><td>{{post.subject}}</td></tr>
            <tr><td>보관장소</td><td>{{post.location}}</td></tr>
            <tr><td>관리부서</td><td>{{post.department}}</td></tr>
            <tr><td>관리자(정)</td><td>{{post.manager_1}}</td></tr>
            <tr><td>관리자(부)</td><td>{{post.manager_2}}</td></tr>
            <tr><td>비품규격</td><td>{{post.spec}}</td></tr>
            <tr><td>구입일자</td><td>{{post.date|date:"M d, Y"}}</td></tr>
            <tr><td>비고</td><td>{{post.remark}}</td></tr>
            <tr>
                <td><a href="{{post.photo.url}}">사진연결</a></td>
                <td><img src="{{post.photo.url}}" class="container"></td>
            </tr>
        </tbody>
    </table>
    <p></p><p></p>


    {% endfor %}

</body>
</html>