<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>file-detail</title>
</head>
<body>
{% block content %}
    <p></p>
    <div class="btn-group float-right">
        <a href="{% url 'filegram:file_approval' pk=object.id %}" class="btn btn-info btn-sm">결재하기</a>&nbsp;&nbsp;
        {% if "1급" in user.last_name %}
        <a href="{% url 'filegram:file_delete' pk=object.id %}" class="btn btn-danger btn-sm">삭제하기</a>&nbsp;&nbsp;
        {% endif %}
        <a href="{% url 'filegram:detail_pdf' pk=object.id %}" class="btn btn-success btn-sm">pdf 출력</a>
    </div>
    <div class="btn-group float-left">
        <a href="{% url 'filegram:file_list' %}" class="btn btn-info btn-sm">전체목록</a></div>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">항목</th>
                <th scope="col">내역</th>
            </tr>
        </thead>

        <tbody>
            <tr><td>작성자</td><td>{{object.author}}</td></tr>
            <tr><td>아파트명</td><td>{{object.group}}</td></tr>
            <tr><td>담당부서</td><td>{{object.department}}</td></tr>
            <tr><td>업무제목</td><td>{{object.subject}}</td></tr>
            <tr><td>업무내역</td><td>{{object.abstract|linebreaksbr}}</td></tr>
            <tr><td>결재자(직위, 이름)</td><td>{{object.approval}}</td></tr>
            <tr><td>반장비번</td><td>{{object.charge}}</td></tr>
            <tr><td>과장비번</td><td>{{object.manager}}</td></tr>
            <tr><td>소장비번</td><td>{{object.director}}</td></tr>
            <tr><td>이사비번</td><td>{{object.board}}</td></tr>
            <tr><td>감사비번</td><td>{{object.super}}</td></tr>
            <tr><td>회장비번</td><td>{{object.visor}}</td></tr>
            <tr><td>결재(기안)일시</td><td>{{object.created|date:"Y-m-d:H-i-s(T)"}}</td></tr>
            <tr>
                <td><a href="{{object.file.url}}">문서다운로드</a></td>
                <td><a href="{{object.file.url}}">{{object.file}}</a></td>
            </tr>
        </tbody>
    </table>

{% endblock %}
</body>
</html>