<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load bootstrap3 %}
<head>
    <meta charset="UTF-8">
    <title>file-search</title>
</head>

<body>
{% block content %}
    <p></p>
    <form method="get">
        {% bootstrap_form filter.form %}
        <div class="btn-group float-right">&nbsp;&nbsp;
        <a href="{% url 'filegram:search_pdf' %}" class="btn btn-success btn-sm">pdf 출력</a></div>
        <div class="btn-group float-left">
        <a href="{% url 'filegram:file_list' %}" class="btn btn-info btn-sm">전체목록</a></div>
        <button type="submit" class="btn btn-info btn-sm float-right">검색하기</button>
    </form>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">아파트명</th>
                <th scope="col">담당부서</th>
                <th scope="col">담당자</th>
                <th scope="col">관리자</th>
                <th scope="col">관리소장</th>
                <th scope="col">업무제목</th>
                <th scope="col">최초작성</th>
                <th scope="col">수정일자</th>
                <th scope="col">상세보기</th>
            </tr>
        </thead>

        <tbody>
            {% for post in filter.qs %}
                <tr>
                    <td>{{post.group}}</td>
                    <td>{{post.department}}</td>
                    <td>{{post.charge}}</td>
                    <td>{{post.manager}}</td>
                    <td>{{post.director}}</td>
                    <td>{{post.subject}}</td>
                    <td>{{post.created|date:"Y-m-d"}}</td>
                    <td>{{post.updated|date:"Y-m-d"}}</td>
                    <td><a href="{% url 'filegram:file_detail' pk=post.id %}" class="btn btn-outline-success btn-sm">상세보기</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
</body>
</html>