<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>pdf-detail</title>
</head>
<body>
    <h1>Aptgram Publishing</h1>
    <h3>상세 - 문서목록<span class="secondary">{{ myDate | date:"M d, Y" }}</span></h3>

    <table class="container_big">
        <thead>
            <tr>
                <th scope="col">항목</th>
                <th scope="col">내역</th>
            </tr>
        </thead>

        <tbody>
        {% for post in files %}
            <tr><td>작성자</td><td>{{object.author}}</td></tr>
            <tr><td>아파트명</td><td>{{object.group}}</td></tr>
            <tr><td>담당부서</td><td>{{object.department}}</td></tr>
            <tr><td>업무제목</td><td>{{object.subject}}</td></tr>
            <tr><td>업무내역</td><td>{{object.abstract|linebreaksbr}}</td></tr>
            <tr><td>결재자(직위, 이름)</td><td>{{object.approval}}</td></tr>
            <tr><td>반장비번</td><td>{{object.charge}}</td></tr>
            <tr><td>과장비번</td><td>{{object.manager}}</td></tr>
            <tr><td>소장비번</td><td>{{object.director}}</td></tr>
            <tr><td>이사비번</td><td>{{object.super}}</td></tr>
            <tr><td>감사비번</td><td>{{object.super}}</td></tr>
            <tr><td>회장비번</td><td>{{object.super}}</td></tr>
            <tr><td>결재(기안)일시</td><td>{{object.created|date:"Y-m-d:H-i-s(T)"}}</td></tr>
            <tr>
                <td><a href="{{post.file.url}}">문서다운로드</a></td>
                <td><a href="{{post.file.url}}">{{post.file}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p></p><p></p>



</body>
</html>