<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>pdf-list</title>
</head>
<body>
    <h1>Aptgram Publishing</h1>
    <h3>문서목록<span class="secondary">{{ myDate | date:"M d, Y" }}</span></h3>

    <table class="container_big">
        <thead>
            <tr>
                <th>아파트명</th>
                <th>담당부서</th>
                <th>기안자</th>
                <th>업무제목</th>
                <th>직전결재자</th>
                <th>직전결재일</th>
            </tr>
        </thead>

        <tbody>
        {% for post in files %}
            <tr>
                <td>{{post.group}}</td>
                <td>{{post.department}}</td>
                <td>{{post.author}}</td>
                <td>{{post.subject}}</td>
                <td>{{post.approval}}</td>
                <td>{{post.created|date:"Y-m-d:H-i-s(T)"}}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</body>
</html>