<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>pdf-detail</title>
</head>
<body>
    <h1>Aptgram Publishing</h1>
    <h3>상세 - 문서목록<span class="secondary">{{ myDate | date:"M d, Y" }}</span></h3>

    <table class="container_big">
        <thead>
            <tr>
                <th scope="col">항목</th>
                <th scope="col">내역</th>
            </tr>
        </thead>

        <tbody>
        {% for post in files %}
            <tr><td>작성자</td><td>{{post.author}}</td></tr>
            <tr><td>아파트명</td><td>{{post.group}}</td></tr>
            <tr><td>담당부서</td><td>{{post.department}}</td></tr>
            <tr><td>담당자</td><td>{{post.charge}}</td></tr>
            <tr><td>결재자</td><td>{{post.manager}}</td></tr>
            <tr><td>관리소장</td><td>{{post.director}}</td></tr>
            <tr><td>입주자대표회장</td><td>{{post.super}}</td></tr>
            <tr><td>업무제목</td><td>{{post.subject}}</td></tr>
            <tr><td>업무내역</td><td>{{post.abstract|linebreaksbr}}</td></tr>
            <tr><td>결재</td><td>{{post.remark}}</td></tr>
            <tr><td>최초작성일</td><td>{{post.created|date:"Y-m-d"}}</td></tr>
            <tr><td>수정일자</td><td>{{post.updated|date:"Y-m-d"}}</td></tr>
            <tr>
                <td><a href="{{post.file.url}}">문서다운로드</a></td>
                <td><a href="{{post.file.url}}">{{post.file}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p></p><p></p>



</body>
</html>