<!DOCTYPE html>
<html lang="ko">
{% extends 'base.html' %}
{% load bootstrap3 %}
{% load humanize %}
<head>
    <meta charset="UTF-8">
    <title>sulbi-search</title>
</head>

<body>
{% block content %}
    <p></p>
    <form method="get">
        {% bootstrap_form filter.form %}
        <div class="btn-group float-right">&nbsp;&nbsp;
        <a href="{% url 'susungram:search_pdf' %}" class="btn btn-success btn-sm">pdf 출력</a></div>
        <div class="btn-group float-left">
        <a href="{% url 'susungram:susun_list' %}" class="btn btn-info btn-sm">전체목록</a></div>
        <button type="submit" class="btn btn-info btn-sm float-right">검색하기</button>
    </form>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">대분류</th>
                <th scope="col">구분</th>
                <th scope="col">공사종별</th>
                <th scope="col">수선주기</th>
                <th scope="col">최종수선</th>
                <th scope="col">법정수선</th>
                <th scope="col">수정계획</th>
                <th scope="col">수선예정금</th>
            </tr>
        </thead>

        <tbody>
            {% for post in filter.qs %}
                <tr>
                    <td>{{post.category}}</td>
                    <td><a href="{% url 'susungram:susun_detail' pk=post.id %}">{{post.subject}}</a></td>
                    <td><a href="{% url 'susungram:susun_detail' pk=post.id %}">{{post.treatment}}</a></td>
                    <td>{{post.cycle}}</td>
                    <td>{{post.last}}</td>
                    <td>{{post.rule}}</td>
                    <td>{{post.plan}}</td>
                    <td>{{post.cost|intcomma}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
</body>
</html>