<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load bootstrap3 %}
<head>
    <meta charset="UTF-8">
    <title>gongo-cast</title>
</head>

<body>
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">아파트명</th>
                <th scope="col">동</th>
                <th scope="col">호</th>
                <th scope="col">공고사진</th>
                <th scope="col">공고문서</th>
                <th scope="col">전체알림</th>
                <th scope="col">동별알림</th>
                <th scope="col">개별알림</th>
                <th scope="col">비고</th>
            </tr>
        </thead>

        <tbody>
        {% for post in files %}
            <tr>
                <td>{{post.group}}</td>
                <td>{{post.dong}}</td>
                <td>{{post.ho}}</td>
                <td>{{post.photo}}</td>
                <td>{{post.file}}</td>
                <td>{{post.task_apt}}</td>
                <td>{{post.task_dong}}</td>
                <td>{{post.task_ho}}</td>
                <td>{{post.remark}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
</body>
</html>