<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load bootstrap3 %}
<head>
    <meta charset="UTF-8">
    <title>jumin-search</title>
</head>

<body>
{% block content %}
    <p></p>
    <form method="get">
        {% bootstrap_form filter.form %}
        <div class="btn-group float-right">&nbsp;&nbsp;
        <a href="{% url 'jumingram:search_pdf' %}" class="btn btn-success btn-sm">pdf 출력</a></div>
        <div class="btn-group float-left">
        <a href="{% url 'jumingram:jumin_list' %}" class="btn btn-info btn-sm">전체자료</a></div>
        <button type="submit" class="btn btn-info btn-sm float-right">검색하기</button>
    </form>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">동</th>
                <th scope="col">호</th>
                <th scope="col">세대주</th>
                <th scope="col">가족구성</th>
                <th scope="col">대표전화</th>
                <th scope="col">자동차</th>
                <th scope="col">입주일</th>
                <th scope="col">참고사항</th>
            </tr>
        </thead>

        <tbody>
        {% for post in filter.qs %}
            <tr>
                <td>{{post.dong}}</td>
                <td>{{post.ho}}</td>
                {% if user.last_name == '관리' %}
                <td><a href="{% url 'jumingram:jumin_detail' pk=post.id %}">{{post.represent}}</a></td>
                {% else %}
                <td>{{post.represent}}</td>
                {% endif %}
                <td>{{post.family}}</td>
                <td>{{post.phone}}</td>
                <td>{{post.car}}</td>
                <td>{{post.date|date:"Y-m-d" }}</td>
                <td>{{post.note}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
</body>
</html>