<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>jumin-list</title>
</head>
<body>
{% block content %}
    <p></p>
    <div class="btn-group float-right">
        <a href="{% url 'jumingram:jumin_upload' %}" class="btn btn-info btn-sm">주민추가</a>&nbsp;&nbsp;
        <a href="{% url 'jumingram:jumin_search' %}" class="btn btn-info btn-sm">검색화면</a>&nbsp;&nbsp;
        <a href="{% url 'jumingram:generate_pdf' %}" class="btn btn-success btn-sm">pdf 출력</a>&nbsp;&nbsp;
        {% if user.last_name == '관리' %}
        <a href="{% url 'jumingram:gongo_cast' %}" class="btn btn-info btn-sm">공고실행</a>&nbsp;&nbsp;
        {% endif %}
    </div>
    <div class="btn-group float-left">
        <a href="{% url 'papergram:paper_list' %}" class="btn btn-success btn-sm">양식목록</a>&nbsp;&nbsp;
        <a href="{% url 'jumingram:jumin_list' %}" class="btn btn-info btn-sm">전체자료</a></div>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">아파트명</th>
                <th scope="col">동</th>
                <th scope="col">호</th>
                <th scope="col">세대주</th>
                <th scope="col">가족구성</th>
                <th scope="col">대표전화</th>
                <th scope="col">자동차</th>
                <th scope="col">입주일자</th>
                <th scope="col">상세보기</th>
            </tr>
        </thead>

        <tbody>
        {% for post in files %}
            <tr>
                <td>{{post.group}}</td>
                <td>{{post.dong}}</td>
                <td>{{post.ho}}</td>
                <td>{{post.represent}}</td>
                <td>{{post.family}}</td>
                <td>{{post.phone}}</td>
                <td>{{post.car}}</td>
                <td>{{post.date|date:"Y-m-d" }}</td>
                {% if user.last_name == '관리' %}
                <td><a href="{% url 'jumingram:jumin_detail' pk=post.id %}" class="btn btn-outline-success btn-sm">공고준비</a></td>
                {% else %}
                <td><a href="{% url 'jumingram:jumin_detail' pk=post.id %}" class="btn btn-outline-success btn-sm">상세보기</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block pagination %}
{% if files.has_other_pages %}
<div class="text-center">
    <ul class="pagination justify-content-center pagination-sm">

        {% if files.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ files.previous_page_number }}">&laquo; 이전 </a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&laquo; 이전 </a></li>
        {% endif %}

    {% for i in files.paginator.page_range %}
        {% if files.number == i %}
            <li class="page-item active"><span class="page-link">&nbsp;{{ i }}&nbsp;<span class="page-link sr-only">(current)</span></span></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">&nbsp;{{ i }}&nbsp;</a></li>
        {% endif %}
    {% endfor %}

    {% if files.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ files.next_page_number }}"> 다음 &raquo;</a></li>
    {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">다음 &raquo;</a></li>
    {% endif %}

    </ul>
</div>
{% endif %}
{% endblock %}


</body>
</html>