<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>pdf-search</title>
</head>
<body>
    <h1>Aptgram Publishing</h1>
    <h3>주민자료<span class="secondary">{{ myDate | date:"Y-m-d" }}</span></h3>

    <table class="container_big">
        <thead>
            <tr>
                <th scope="col">아파트명</th>
                <th scope="col">동</th>
                <th scope="col">호</th>
                <th scope="col">세대주</th>
                <th scope="col">가족구성</th>
                <th scope="col">대표전화</th>
                <th scope="col">자동차</th>
                <th scope="col">입주일자</th>
            </tr>
        </thead>

        <tbody>
        {% for post in filter %}
            <tr>
                <td>{{post.group}}</td>
                <td>{{post.dong}}</td>
                <td>{{post.ho}}</td>
                <td>{{post.represent}}</td>
                <td>{{post.family}}</td>
                <td>{{post.phone}}</td>
                <td>{{post.car}}</td>
                <td>{{post.date|date:"Y-m-d"}}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</body>
</html>