<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to Uclone_gram!!{% endblock %}</title>
</head>
<body>
{% block content %}

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-4 panel panel-default">
                <p></p><p></p><p></p>
                <h2>*유클론+관리*</h2>
                <h3><span class="secondary"></span></h3>
                {% if user.is_authenticated %}
                <div class="alert alert-primary">"{{user.get_username}}"님, 환영합니다!</div>
                {% else %}
                <div class="alert alert-primary">먼저 '로그인' 하신 후에, 업무를 선택하세요!!</div>
                {% endif %}

                    {% if user.is_authenticated %}
                        {% if "아파트관리" in user.last_name %}
                        <a href="{% url 'timegram:schedule' %}" class="btn btn-info btn-block">일정관리</a>
                        <a href="{% url 'filegram:file_list' %}" class="btn btn-info btn-block">문서관리</a>
                        <a href="{% url 'taskgram:task_list' %}" class="btn btn-info btn-block">일지관리</a>
                        <a href="{% url 'susungram:susun_list' %}" class="btn btn-info btn-block">장기수선</a>
                        <a href="{% url 'sulbigram:sulbi_list' %}" class="btn btn-info btn-block">설비관리</a>
                        <a href="{% url 'equipgram:equip_list' %}" class="btn btn-info btn-block">비품관리</a>
                        <a href="{% url 'lifegram:life_list' %}" class="btn btn-info btn-block">민원관리</a>
                        <a href="{% url 'metergram:meter_list' %}" class="btn btn-info btn-block">검침관리</a>
                        <a href="{% url 'pollgram:poll_list' %}" class="btn btn-info btn-block">투표관리</a>
                        <a href="{% url 'newsgram:news_list_jumin' %}" class="btn btn-info btn-block">공고읽기</a>
                        <a href="{% url 'lifegram:life_upload_jumin' %}" class="btn btn-info btn-block">민원신청</a>
                        <a href="{% url 'pollgram:poll_list' %}" class="btn btn-info btn-block">투표하기</a>
                        <a href="{% url 'jumingram:jumin_list' %}" class="btn btn-info btn-block">주민관리</a>
                        <a href="{% url 'newsgram:news_list' %}" class="btn btn-info btn-block">공고관리</a>
                        {% else %}
                        <a href="{% url 'metergram:meter_list' %}" class="btn btn-info btn-block">스마트홈</a><p></p>
                        <a href="{% url 'timegram:schedule' %}" class="btn btn-info btn-block">일정관리</a><p></p>
                        <a href="{% url 'taskgram:task_list' %}" class="btn btn-info btn-block">일지관리</a><p></p>
                        <a href="{% url 'sulbigram:sulbi_list' %}" class="btn btn-info btn-block">설비관리</a><p></p>
                        <a href="{% url 'equipgram:equip_list' %}" class="btn btn-info btn-block">비품관리</a><p></p>
                        <a href="{% url 'shrimpgram:shrimp_list' %}" class="btn btn-info btn-block">양식관리</a><p></p>
                        {% endif %}
                        <p></p>
                    {% else %}
                    <a href="{% url 'accounts:login' %}" class="btn btn-info btn-block">로그인</a><p></p>
                    <a href="{% url 'accounts:register' %}" class="btn btn-info btn-block">등록하기</a><p></p>
                    {% endif %}

                {% if user.is_authenticated %}
                <div class="alert alert-primary"><a href="{% url 'accounts:account_read' %}">계정확인:계정수정</a></div>
                <div class="alert alert-primary"><a href="{% url 'accounts:logout' %}">로그아웃</a></div>
                {% endif %}

            </div>
            <div class="col-md-3"></div>
        </div>

{% endblock %}
</body>
</html>