<!DOCTYPE html>
<html lang="en">
{% extends 'base_mobile.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to Aptgram!!{% endblock %}</title>
</head>
<body>
{% block content %}

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-5 panel panel-default">
                <p></p><p></p><p></p>
                <h2>*아파트 관리*</h2>
                <h3><span class="secondary"></span></h3>
                {% if user.is_authenticated %}
                <div class="alert alert-info">"{{user.get_username}}"님, 환영합니다!</div>
                {% else %}
                <div class="alert alert-info">먼저 '로그인' 하신 후에, 업무를 선택하세요!!</div>
                {% endif %}

                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'timegram:schedule' %}">모바일 - 일정관리</a></li>
                    <li><a href="{% url 'jumingram:meter_detail_mobile' %}">모바일 - 검침추가</a></li>
                    <li><a href="{% url 'taskgram:task_upload_mobile' %}">모바일 - 일지추가</a></li>
                    <li><a href="{% url 'lifegram:life_upload_mobile' %}">모바일 - 민원신청</a></li>
                    <li><a href="{% url 'metergram:meter_upload_mobile' %}">모바일 - 검침추가</a></li>
                    {% else %}
                    <li><a href="{% url 'accounts:login' %}">로그인</a></li>
                    <li><a href="{% url 'accounts:register' %}">등록하기</a></li>
                    {% endif %}
                </ul>

                {% if user.is_authenticated %}
                <div class="alert alert-info"><a href="{% url 'accounts:logout' %}">로그아웃</a></div>
                {% endif %}

            </div>
            <div class="col-md-3"></div>
        </div>

{% endblock %}
</body>
</html>