<!DOCTYPE html>
<html lang="en">

<head>
    <title>Uclone^gram{% block title %}{% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">


    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {% block extrahead %}
    {% endblock %}


</head>

<body>

    <div class="container">
        <header class="head clearfix">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/index/">Uclone^gram</a><br>
                <ul class="nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="#" class="nav-link">"{{user.get_username}}"</a></li>
                        {% if "아파트관리" in user.last_name %}
                        <li class="nav-item"><a href="{% url 'timegram:schedule' %}" class="active nav-link">&laquo; 일정 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'filegram:file_list' %}" class="active nav-link">&laquo; 문서 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'taskgram:task_list' %}" class="active nav-link">&laquo; 일지 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'susungram:susun_list' %}" class="active nav-link">&laquo; 수선 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'sulbigram:sulbi_list' %}" class="active nav-link">&laquo; 설비 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'equipgram:equip_list' %}" class="active nav-link">&laquo; 비품 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'lifegram:life_list' %}" class="active nav-link">&laquo; 민원 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'metergram:meter_list' %}" class="active nav-link">&laquo; 검침 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'pollgram:poll_list' %}" class="active nav-link">&laquo; 투표 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'newsgram:news_list_jumin' %}" class="active nav-link">&laquo; 공고읽기 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'lifegram:life_upload_jumin' %}" class="active nav-link">&laquo; 민원접수 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'pollgram:poll_list' %}" class="active nav-link">&laquo; 투표하기 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'jumingram:jumin_list' %}" class="active nav-link">&laquo; 주민 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'newsgram:news_list' %}" class="active nav-link">&laquo; 공고 &raquo;</a></li>
                        {% else %}
                        <li class="nav-item"><a href="{% url 'metergram:meter_list' %}" class="active nav-link">&laquo; 안전 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'timegram:schedule' %}" class="active nav-link">&laquo; 일정 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'taskgram:task_list' %}" class="active nav-link">&laquo; 일지 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'sulbigram:sulbi_list' %}" class="active nav-link">&laquo; 설비 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'equipgram:equip_list' %}" class="active nav-link">&laquo; 비품 &raquo;</a></li>
                        <li class="nav-item"><a href="{% url 'shrimpgram:shrimp_list' %}" class="active nav-link">&laquo; 양식 &raquo;</a></li>
                        {% endif %}
                    <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="nav-link">&laquo;로그아웃&raquo;</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'accounts:login' %}" class="nav-link">&laquo; 로그인 &raquo;</a></li>
                    <li class="nav-item"><a href="{% url 'accounts:register' %}" class="nav-link">&laquo;등록하기&raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <div class="row justify-content-center">
            <div class="col">
                {% block content %}






                {% endblock %}
            </div>
        </div>

        {% block pagination %}
        {% endblock %}

        <footer class="footer">
            <p>&copy; Uclone^gram</p>
        </footer>
    </div>
</body>
</html>