<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}


<head>
    <meta charset="UTF-8">
    <title>poll-detail</title>

    {% block extrahead %}
    {{ pform.media }}
    {{ cform.media }}
    {% endblock %}
</head>

<body>
{% block content %}
    <p></p>
    <div class="btn-group float-right">
        {% if "1급" in user.last_name %}
        <a href="{% url 'pollgram:poll_update' pk=pform.id %}" class="btn btn-info btn-sm">투표:선거정정</a>&nbsp;&nbsp;
        <a href="{% url 'pollgram:poll_delete' pk=pform.id %}" class="btn btn-danger btn-sm">삭제하기</a>&nbsp;&nbsp;
        {% endif %}
        <a href="{% url 'pollgram:detail_pdf' pk=pform.id %}" class="btn btn-success btn-sm">pdf 출력</a>
    </div>
    <div class="btn-group float-left">
        <a href="{% url 'pollgram:poll_list' %}" class="btn btn-info btn-sm">투표목록</a></div>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">항목</th>
                <th scope="col">내역</th>
            </tr>
        </thead>

        <tbody>
            <tr><td>아파트명</td><td>{{pform.group}}</td></tr>
            <tr><td>투표:선거</td><td>{{pform.subject}}</td></tr>
            <tr><td>공고일자</td><td>{{pform.pub_date|date:"Y-m-d"}}</td></tr>
            <tr><td>개시일자</td><td>{{pform.open_date|date:"Y-m-d"}}</td></tr>
            <tr><td>종료일자</td><td>{{pform.close_date|date:"Y-m-d"}}</td></tr>
            <tr><td>비고</td><td>{{pform.remark}}</td></tr>
            <tr><td>기안일자</td><td>{{pform.created|date:"Y-m-d"}}</td></tr>
        </tbody>
    </table>


{% if error_message %} <p> <strong> <{{error_message }}> </strong></p>{% endif %}


    <table class="table">
        <thead>
            <tr>
                <th scope="col">선택:후보</th>
                <th scope="col">득표수</th>
            </tr>
        </thead>
        <tbody>

            {% csrf_token %}
            {% for post in cform %}
                {% if "None" not in post.selection %}
            <tr><td>{{post.selection}}</td><td>{{post.votes}}</td></tr>
                {% endif %}
            {% endfor %}

        </tbody>
    </table>



{% endblock %}
</body>
</html>