<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>plan-list</title>
</head>
<body>
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">부서/대분류</th>
                <th scope="col">업무</th>
                <th scope="col">비고</th>
                <th scope="col">시작일자</th>
                <th scope="col">종료일자</th>
            </tr>
        </thead>
        <tbody>
            {% for post in files %}
                <tr>
                    <td>{{post.department}}</td>
                    <td>{{post.subject}}</td>
                    <td>{{post.remark}}</td>
                    <td>{{post.start|date:"Y-m-d"}}</td>
                    <td>{{post.close|date:"Y-m-d"}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

</body>
</html>