<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>pdf-detail</title>
</head>
<body>
    <h1>Aptgram Publishing</h1>
    <h3>상세 - 일정목록<span class="secondary">{{ myDate | date:"M d, Y" }}</span></h3>

    {% for post in files %}

    <table class="container_big">
        <thead>
            <tr>
                <th scope="col">항목</th>
                <th scope="col">내역</th>
            </tr>
        </thead>

        <tbody>
            <tr><td>작성자</td><td>{{post.author.username}}</td></tr>
            <tr><td>아파트명</td><td>{{post.group}}</td></tr>
            <tr><td>업무개시</td><td>{{post.start|date:"M d, Y"}}</td></tr>
            <tr><td>업무완료</td><td>{{post.close|date:"M d, Y"}}</td></tr>
            <tr><td>담당부서</td><td>{{post.department}}</td></tr>
            <tr><td>담당자</td><td>{{post.charge}}</td></tr>
            <tr><td>업무제목</td><td>{{post.subject}}</td></tr>
            <tr><td>업무내역</td><td>{{post.task}}</td></tr>
            <tr>
                <td><a href="{{post.photo.url}}">사진연결</a></td>
                <td><img src="{{post.photo.url}}" class="container"></td>
            </tr>
            <tr><td>업무관리</td><td>{{post.manager}}</td></tr>
            <tr><td>책임관리</td><td>{{post.director}}</td></tr>
            <tr><td>비고</td><td>{{post.remark}}</td></tr>
            <tr><td>최초작성일</td><td>{{post.created|date:"M d, Y"}}</td></tr>
            <tr><td>수정일</td><td>{{post.updated|date:"M d, Y"}}</td></tr>
        </tbody>
    </table>
    <p></p><p></p>

    {% endfor %}


</body>
</html>