<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>pdf-detail</title>
</head>
<body>
    <h1>Aptgram Publishing</h1>
    <h3>상세 - 비번관리<span class="secondary">{{ myDate | date:"Y-m-d" }}</span></h3>

    <table class="container_big">
        <thead>
            <tr>
                <th scope="col">항목</th>
                <th scope="col">내역</th>
            </tr>
        </thead>

        <tbody>
        {% for post in files %}
            <tr><td>사용자</td><td>{{post.author.username}}</td></tr>
            <tr><td>아파트명</td><td>{{post.group}}</td></tr>
            <tr><td>부서</td><td>{{post.department}}</td></tr>
            <tr><td>직위직급</td><td>{{post.subject}}</td></tr>
            <tr><td>기본비번</td><td>{{post.regpsw}}</td></tr>
            <tr><td>사용비번</td><td>{{post.usepsw}}</td></tr>
            <tr><td>용도</td><td>{{post.remark}}</td></tr>
            <tr><td>발급일시</td><td>{{post.created|date:"Y-m-d:H-i-s(T)"}}</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <p></p><p></p>




</body>
</html>