<!DOCTYPE html>
<html lang="ko">
{% extends 'base.html' %}
{% load bootstrap3 %}
<head>
    <meta charset="UTF-8">
    <title>plan-search</title>
</head>

<body>
{% block content %}
    <p></p>
    <form method="get">
        {% bootstrap_form filter.form %}
        <div class="btn-group float-right">&nbsp;&nbsp;
        <a href="{% url 'plangram:search_pdf' %}" class="btn btn-success btn-sm">pdf 출력</a></div>
        <div class="btn-group float-left">
        <a href="{% url 'plangram:plan_list' %}" class="btn btn-info btn-sm">비번발급목록</a></div>
        <button type="submit" class="btn btn-info btn-sm float-right">기록검색하기</button>
    </form>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">부서</th>
                <th scope="col">직위:직급</th>
                <th scope="col">기본비번</th>
                <th scope="col">이전사용비번</th>
                <th scope="col">이전비번용도</th>
                <th scope="col">이전발급일시</th>
                <th scope="col">새로운비번발급</th>
            </tr>
        </thead>

        <tbody>
            {% for post in filter.qs %}
                <tr>
                    <td>{{post.department}}</td>
                    <td>{{post.subject}}</td>
                    <td>{{post.regpsw}}</td>
                    <td>{{post.usepsw}}</td>
                    <td>{{post.remark}}</td>
                    <td>{{post.created|date:"Y-m-d:H-i-s(T)"}}</td>
                    <td><a href="{% url 'plangram:plan_detail' pk=post.id %}">새로운비번발급</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
</body>
</html>